:root {
    --str-cyan: hsl(172, 67%, 45%);
    --vdk-cyan: hsl(183, 100%, 15%);
    --dk-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --vl-grayish-cyan: hsl(189, 41%, 97%);
    --error-red: #d39378;
    --disable-btn: #0d686d;
    --hover-green: #9fe8df;
    --white: hsl(0, 0%, 100%);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Mono";
    background-color: var(--light-grayish-cyan);
    color: var(--vdk-cyan);
    height: 100%;

}

main.main {
    background-color: var(--white);
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    height: calc(100% - 7rem)
}

header {
    padding: 2rem;
    text-align: center;
}

form {
    background-color: var(--white);
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

section.top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

fieldset {
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

fieldset :first-child {
    font-weight: 600;
    color: var(--dk-grayish-cyan);
}

fieldset:nth-child(2) {
    gap: 1rem;
}


.select-tip label:last-child input {
    padding: .5rem;

}

input {
    padding: .8rem 1rem;
    width: 100%;
    background-color: var(--vl-grayish-cyan);
    border: none;
    border-radius: 5px;
    outline-color: var(--grayish-cyan);
    text-align: right;
    caret-color: var(--grayish-cyan);
    color: var(--vdk-cyan);
    font-weight: 700;
    font-size: 1.2rem;
    font-family: inherit;
}

input:focus, input:active {
    border: 3px solid var(--hover-green);
    outline: none;
}

input.err {
    outline-color: var(--error-red);
    border: 3px solid var(--error-red);
}

input[type="radio"] {
    display: none;
}

input[type="number"] {
    color: var(--vdk-cyan);
    letter-spacing: 1.5px;
}

input[type="number"]::placeholder {
    color: var(--grayish-cyan);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

label {
    display: block;
}

div.tips-group {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
}

.tips-group span {
    padding: .5rem;
    background-color: var(--vdk-cyan);
    color: var(--white);
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

.tips-group span:hover {
    background-color: var(--hover-green);
    color: var(--vdk-cyan);
}

.tips-group label:last-child {
    display: contents;
}

.tips-group input::placeholder {
    color: var(--dk-grayish-cyan);
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}

.ph-img {
    position: absolute;
    left: 1rem;
    top: 2.8rem;
    bottom: 1.2rem;
    max-width: 20px;
}

input[type='radio']:checked + span {
    background-color: var(--str-cyan);
    color: var(--vdk-cyan);
}

section.checkout {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.2rem;
    gap: 1rem;
    background-color: var(--vdk-cyan);
    color: var(--white);
    border-radius: 10px;
}

div.amounts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.amount, div.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.3;
    font-weight: 500;
}

span.value {
    font-size: 2rem;
    color: var(--str-cyan);
    font-weight: 700;
}

br + span {
    color: var(--grayish-cyan);
    font-size: .9rem;
    display: inline-block;
    margin-top: -1rem;
}


button {
    border: none;
    padding: .8rem;
    border-radius: 5px;
    background-color: var(--str-cyan);
    color: var(--vdk-cyan);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    line-height: unset;
    position: relative;
}


button:disabled {
    background-color: var(--disable-btn);
}

button:hover {
    background-color: var(--hover-green)
}

label.title {
    display: flex;
}

span.error {
    margin-left: auto;
    visibility: hidden;
    color: var(--error-red);
}

span.show {
    visibility: visible;
}

@media (min-width:900px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
    }
    main.main {
        width: 900px;
        border-radius: 20px;
    }

    header {
        margin-bottom: 1.5rem;
    }


    form {
        flex-direction: row;
        gap: 2rem;
    }

    section {
        flex: 1;
    }

    div.tips-group {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        grid-gap: .6rem;
    }

    section.checkout {
        padding: 3rem 2rem;
        justify-content: space-between;
    }

    div.amounts {
        gap: 2rem;
    }

    div.attribution {
        width: 100%;
        background-color: unset;
    }

    span.value {
        font-size: 2.5rem;
    }
}

.attribution { 
    font-size: 14px; 
    text-align: center;
    padding: 1rem 0;
    background-color: var(--white);
 }

.attribution a { 
    color: var(--vdk-cyan); 
}




